@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@media screen and (min-width: 200px) and (max-width: 620px) {
    .download-block {display: block;}

    .desktop-release-block {
        margin: 10px;
        width: 91%;
    }

    .header-1 {font-size: 48px;}

    .header-3 {font-size: 18px}

    .link-p {font-size: 18px}
}

@media screen and (min-width: 300px) and (max-width: 399px) {
    .pill, .pill-release, .download-btn {margin-top: 5px}
    .desktop-release-block {margin: 10px;}
    .header-1 {font-size: 48px;}
    .par-1 {font-size: 20px !important; }

    #downloads-block {
        display: flex;
        flex-direction: column;
        width: auto;
    }
    #desktop-download-navbar, #mobile-download-navbar {flex-direction: row;}
    #desktop-block {flex-grow: 0; width:95%;}
    #mobile-block {flex-grow: 1; width:95%;}
}

@media screen and (min-width: 400px) and (max-width: 499px) {
    .pill, .pill-release, .download-btn {margin-top: 5px}
    .desktop-release-block {margin: 10px;}
    .header-1 {font-size: 32px;}
    .par-1 {font-size: 20px !important; }

    #downloads-block {flex-direction: column;}
    #desktop-download-navbar, #mobile-download-navbar {flex-direction: column;}
    #desktop-block {flex-grow: 0; width:100%;}
    #mobile-block {flex-grow: 1; width:100%;}
}

@media screen and (min-width: 500px) and (max-width: 599px) {
    .pill, .pill-release, .download-btn {margin-top: 5px}
    .desktop-release-block {margin: 10px;}
    .header-1 {font-size: 48px;}
    .par-1 {font-size: 20px !important; }

    #downloads-block {
        display: flex;
        flex-direction: column;
    }
    #desktop-download-navbar, #mobile-download-navbar {flex-direction: row;}
    #desktop-block {flex-grow: 0; width:94%;}
    #mobile-block {flex-grow: 1; width:94%;}
}

@media screen and (min-width: 600px) and (max-width: 699px) {
    .pill, .pill-release, .download-btn {margin-top: 5px}
    .desktop-release-block {margin: 10px;}
    .header-1 {font-size: 48px;}
    .par-1 {font-size: 20px !important; }

    #downloads-block {
        display: flex;
        flex-direction: column;
    }
    #desktop-download-navbar, #mobile-download-navbar {flex-direction: row;}
    #desktop-block {flex-grow: 0; width:95%;}
    #mobile-block {flex-grow: 1; width:95%;}
}

@media screen and (min-width: 700px) and (max-width: 799px) {
    .pill, .pill-release, .download-btn {margin-top: 5px}
    .desktop-release-block {margin: 10px;}
    .header-1 {font-size: 48px;}
    .par-1 {font-size: 20px !important; }

    #downloads-block {
        display: flex;
        flex-direction: column;
    }
    #desktop-download-navbar, #mobile-download-navbar {flex-direction: row;}
    #desktop-block {flex-grow: 0; width:95%;}
    #mobile-block {flex-grow: 1; width:95%;}
}

@media screen and (min-width: 800px) and (max-width: 899px) {
    .pill, .pill-release, .download-btn {margin-top: 5px}
    .desktop-release-block {margin: 10px;}
    .header-1 {font-size: 48px;}
    .par-1 {font-size: 20px !important; }

    #downloads-block {
        display: flex;
        flex-direction: column;
    }
    #desktop-download-navbar, #mobile-download-navbar {flex-direction: row;}
    #desktop-block {flex-grow: 0; width:95%;}
    #mobile-block {flex-grow: 1; width:95%;}
}

@media screen and (min-width: 1000px) and (max-width: 1099px) {
    .pill, .pill-release, .download-btn {margin-top: 5px}
    .desktop-release-block {margin: 10px;}
    .header-1 {font-size: 48px;}
    .par-1 {font-size: 28px !important; }

    #downloads-block {
        display: flex;
        flex-direction: column;
    }
    #desktop-download-navbar, #mobile-download-navbar {flex-direction: row;}
    #desktop-block {flex-grow: 0; width:120%;}
    #mobile-block {flex-grow: 1; width:120%;}
}

@media screen and (min-width: 1200px) and (max-width: 1299px) {
    .pill, .pill-release, .download-btn {margin-top: 5px}
    .desktop-release-block {margin: 10px;}
    .header-1 {font-size: 48px;}

    #desktop-download-navbar, #mobile-download-navbar {flex-direction: column;}
    #desktop-block {flex-grow: 0; width:30%;}
    #mobile-block {flex-grow: 1; width:30%;}
}

* {
    scroll-behavior: smooth;
}

body {
    display:flex;
    background: black;
    height: auto;
    padding: 0;
    margin: 0;
}

div[disabled], button[disabled]
{
  pointer-events: none;
  user-select: none;
  opacity: 20%;
}

div[disabled]:hover, button[disabled]:hover
{
  cursor: not-allowed;
}

.horizontal-block {
    display: flex;
}

.vertical-block {
    width: 100%;
    height: 100vh;
}

.desktop-release-block {
    position: relative;
    background: #ffffff;
    float: right;
    height: 93vh;
    padding: 15px;
    border-radius: 15px;
}

.download-btn {
    border-radius: 32px;
    border: none;
    background: #D9D9D9;
    width: max-content;
    height: 52px;
    margin-right: 6px;
    transition: 0.3s;
}

.download-btn:hover {
    border-radius: 16px;
    background: linear-gradient(-112deg, rgba(255, 0, 0, 20%) 0%, rgba(139, 53, 86, 20%) 51%, rgba(233, 177, 205, 20%) 100%);
    width: max-content;
    height: 52px;
    margin-right: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.download-1 {
    border-radius: 32px;
    border: none;
    background: #D9D9D9;
    width: max-content;
    height: 52px;
    margin-right: 6px;
    transition: 0.3s;
}

.download-1:hover {
    border-radius: 16px;
    background: #B1B1B1;
    width: max-content;
    height: 52px;
    margin-right: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.header-1 {
    font-family: 'Poppins', serif;
    font-weight: 700;
    font-style: normal;
    margin: 0;
}

.header-3 {
    font-family: 'Poppins', serif;
    font-weight: 400;
    font-style: normal;
    color: #B1B1B1;
    margin: 0;
    word-wrap: anywhere;
    transition: 0.3s;
    text-decoration: none;
}

.link-p {
    font-family: 'Poppins', serif;
    font-weight: 500;
    font-style: normal;
    color: #C5C5C5;
    margin: 0;
    transition: 0.3s;
    text-decoration: none;
}

.link-p:hover {
    color: #A9A9A9;
    transition: 0.3s;
}

.pill {
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 32px;
    background: #D9D9D9;
    width: max-content;
    height: 52px;
    margin-right: 6px;
}

.pill-2 {
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 32px;
    background: #D9D9D9;
    height: 52px;
    width: 52px;
    margin-right: 6px;
}

.pill-release {
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 32px;
    background: linear-gradient(112deg, rgba(255, 0, 0, 20%) 0%, rgba(139, 53, 86, 20%) 51%, rgba(233, 177, 205, 20%) 100%);
    width: max-content;
    height: 52px;
    margin-right: 6px;
}

.par-1 {
    font-family: 'Poppins', serif;
    font-weight: 500;
    font-style: normal;
    font-size: 32px;
    color: #000000;
    margin: 0;
    padding-right: 25px;
    padding-left: 25px;
}

#bottom-navbar {
    position: absolute;
    margin-bottom: 15px;
    bottom: 0;
    width: 100%;
}